body {
    background-color: #F4F4F4;
    font-family: 'Chakra Petch', sans-serif;
}

.navbar {
    background-color: #1E90FF;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navbar .btn {
    background-color: white;
    color: #1E90FF;
    font-weight: bold;
}

.feedback-section, .help-section {
    padding: 20px;
    margin-top: -50px;
}

.feedback-section h2, .help-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.feedback-section label {
    font-weight: bold;
}

.feedback-section textarea {
    resize: vertical;
}

.feedback-section p {
    text-align: center;
}

.feedback-section button {
    margin-top: 10px;
}

.leave-comment {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    background: black;
    color: white;
    padding: 10px;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
}

.help-text {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    background: black;
    color: white;
    padding: 10px;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
}

#feedbackForm {
    text-align: center;
}