body {
    background-color: #F4F4F4;
    font-family: 'Chakra Petch', sans-serif;
}

.navbar {
    background-color: #1E90FF;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navbar .btn {
    background-color: white;
    color: #1E90FF;
    font-weight: bold;
}

.fare-guide {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    background: black;
    color: white;
    padding: 10px;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
}

.fare-section {
    margin-top: 20px;
}

.fw-bold {
    font-size: 18px;
}

.station-form {
    background-color: #FFFFFF;
    border: 1px solid #D3D3D3;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    padding: 8px 12px;
    margin-top: 5px;
}

.btn-outline-primary,
.btn-outline-info {
    font-size: 14px;
    font-weight: bold;
    margin: 5px;
}

.fare-box {
    background-color: #FFFFFF;
    border: 3px solid #1E90FF;
    color: #333333; 
    padding: 20px; 
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    border-radius: 10px;
}

.img-fluid {
    border-radius: 10px;
}

#trainTicket {
    width: 350px;
    margin-top: -155px;
}