body {
    background-color: #F4F4F4;
    font-family: 'Chakra Petch', sans-serif;
}

.navbar {
    background-color: #1E90FF;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navbar .btn {
    background-color: white;
    color: #1E90FF;
    font-weight: bold;
}

.schedule {
    width: 800px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}

.train-schedule {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    background: black;
    color: white;
    padding: 10px;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
}

.schedule-description {
    text-align: center;
    margin-top: 10px;
}